encoded_scripts/*
raw_scripts/*
txt_scripts_en/*
txt_scripts_jp/*

!encoded_scripts/.gitkeep
!raw_scripts/.gitkeep
!txt_scripts_en/.gitkeep
!txt_scripts_jp/.gitkeep

BurikoConverter/Output-Build.txt
BurikoConverter/.vs/
BurikoConverter/BurikoConverter/obj/
BurikoConverter/BurikoConverter/bin/
BurikoConverter/BurikoConverter/BurikoConverter.csproj.user

AE.lnk
files.json
translation.csv
eng_script.xlsx
cons.csv
