AE.lnk
eng_script.xlsx
files.json
jp_translation.csv
translation.csv
translation.xlsx

encoded_scripts/*
raw_scripts/*
txt_scripts_en/*
txt_scripts_jp/*
wonderful_everyday/

!encoded_scripts/.gitkeep
!raw_scripts/.gitkeep
!txt_scripts_en/.gitkeep
!txt_scripts_jp/.gitkeep

BurikoConverter/Output-Build.txt
BurikoConverter/.vs/
BurikoConverter/BurikoConverter/obj/
BurikoConverter/BurikoConverter/bin/c
BurikoConverter/BurikoConverter/BurikoConverter.csproj.user
